<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="#{reg.name} + '> ' + ${network}"/>

    <!-- generic webapp shit-->
    <link href='/css/style.css' rel='stylesheet' type='text/css'/>
    <!-- registrator styles-->
    <link href='/css/registrator.css' rel='stylesheet' type='text/css'/>

</head>
<body>

<header>
    <h1><i class="icon-list-ol"></i> <span th:text="#{reg.name}"/></h1>
</header>

<section id="content">
    <h3 class="lead">
        network: <kbd><span th:text="${network}"/>
        <small><a href="{{url}}" title="{{name}} Website" data-overide-link="true">
            <i class="icon-external-link">Link</i>
        </a></small>
    </kbd>
    </h3>

    <table id="network" class="table table-condensed table-bordered golden-big">
        <tr>
            <th>range</th>
            <th>lease days</th>
            <th>listings</th>
        </tr>
        <tr>
            <td>
                <kbd th:text="${networkConfig.minNodeNumber} + '..' + ${networkConfig.maxNodeNumber}"></kbd>
            </td>
            <td>
                <kbd th:text="${networkConfig.leaseDays}"></kbd>
            </td>
            <td>
                <kbd>
                    <a href="#" title="Numbers Listing" data-overide-link="true">TEST</a>,
                    <a href="/list/number" title="Numbers Listing" data-overide-link="true">&#x2116;</a>,
                    <a href="/list/mac" title="MAC Listing" data-overide-link="true">MAC</a>
                </kbd>
            </td>
        </tr>
    </table>

    <h4>
        Activity
        <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#console-container">
            <i class="icon icon-resize-small"></i>
        </button>
    </h4>
    <div id="console-container" class="collapse">
        <div id="console" class="well dark">
        </div>
    </div>

    <h4 th:text="#{table.headline}"></h4>
    <table id="knoten-listing" class="table table-hover">
        <thead>
        <tr>

            <th data-sort-method='number'>&#x2116;</th>
            <th th:text="#{table.mac_address}"></th>
            <th data-sort-method='date' th:text="#{table.created_at}"></th>
            <th class='sort-default' data-sort-order='desc' data-sort-method='date' th:text="#{table.last_seen}"></th>

        </tr>
        </thead>

        <tr th:each="node : ${nodeList}" id="knoten-nr-{{number}}">
            <td class="knoten-number" th:text="${node.number}">
                <kbd><a href="/GET/{{network}}/knoten/{{number}}">
                </a></kbd>
            </td>
            <td class="knoten-mac">
                <kbd th:text="${node.mac}">{{mac}}</kbd>
            </td>
            <td class="knoten-created_at">
                <kbd th:text="${#dates.format(new java.util.Date(node.createdAt), 'dd.MM.yyyy HH:mm:ss')}"></kbd>
            </td>
            <td class="knoten-last_seen">
                <kbd th:text="${#dates.format(new java.util.Date(node.lastSeen), 'dd.MM.yyyy HH:mm:ss')}"></kbd>
            </td>
        </tr>

    </table>

</section>

<footer>
    <kbd><a href="https://github.com/andibraeu/registrator">Weimarnetz Registrator</a> running.</kbd>
</footer>

<script src="//code.jquery.com/jquery-latest.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/plates.js"></script>
<script src="/js/echtzeit.js"></script>
<script src='/js/tablesort.min.js'></script>

<!-- Include sort types you need -->
<script src='/js/tablesort.number.js'></script>
<script src='/js/tablesort.date.js'></script>

<script>
    new Tablesort(document.getElementById('knoten-listing'));
</script>
</body>
</html>