/*
  APP LAYOUT
*/

/* Golden fucking Ratio */
.golden-big,
header,
section,
article,
footer {
    width: 61.8%;
}

.golden-small {
    width: 38.2%;
}

header,
section,
article,
footer {
    min-width: 400px;
    max-width: 550px;
    padding: 0.8em 20px;
    margin: 0 auto 1em auto;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.15);
    -moz-box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.15);
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.15);
}

header h1 {
    font-weight: normal;
    color: hsla(0, 0%, 30.9%, 0.5);
    text-shadow: 1px 1px 2px hsla(0, 0%, 100%, 1),
    0px 0px 0px hsla(0, 0%, 0%, 0.3),
    1px 1px 0px hsla(0, 0%, 100%, 1);
}

footer {
    font-size: 9pt;
}