<!DOCTYPE html>
<html>
<head>
    <title th:text="#{reg.name} + '> ' + ${network}"/>

    <!-- generic webapp shit-->
    <link href='http://eins78.github.com/appstrakt/style.css' rel='stylesheet' type='text/css'/>
    <!-- registrator styles-->
    <link href='/static/style.css' rel='stylesheet' type='text/css'/>

</head>
<body>

<header>
    <h1><i class="icon-list-ol"></i> <span th:text="#{reg.name}"/></h1>
</header>

<section id="content">
    {{#network}}
    {{#active}}

    <h3 class="lead">
        network: <kbd><span th:text="${network}"/>
        <small><a href="{{url}}" title="{{name}} Website" data-overide-link="true">
            <i class="icon-external-link">Link</i>
        </a></small>
    </kbd>
    </h3>

    <table id="network" class="table table-condensed table-bordered golden-big">
        <tr>
            <th>range</th>
            <th>lease days</th>
            <th>listings</th>
        </tr>
        <tr>
            <td>
                <kbd>{{minimum}}..{{maximum}}</kbd>
            </td>
            <td>
                <kbd>
                    {{#lease_days}}{{lease_days}}{{/lease_days}}
                    {{^lease_days}}unknown!{{/lease_days}}
                </kbd>
            </td>
            <td>
                <kbd>
                    <a href="#" title="Numbers Listing" data-overide-link="true">TEST</a>,
                    <a href="/list/number" title="Numbers Listing" data-overide-link="true">&#x2116;</a>,
                    <a href="/list/mac" title="MAC Listing" data-overide-link="true">MAC</a>
                </kbd>
            </td>
        </tr>
    </table>
    {{/active}}
    {{/network}}

    <h4>
        Activity
        <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#console-container">
            <i class="icon icon-resize-small"></i>
        </button>
    </h4>
    <div id="console-container" class="collapse">
        <div id="console" class="well dark">
        </div>
    </div>

    <h4>Knoten</h4>
    <table id="knoten-listing" class="table table-hover">
        <thead>
        <tr>

            <th data-sort-method='number'>&#x2116;</th>
            <th>MAC</th>
            <th data-sort-method='date'>created at</th>
            <th class='sort-default' data-sort-order='desc' data-sort-method='date'>last seen</th>

        </tr>
        </thead>

        {{#knoten}}
        <tr id="knoten-nr-{{number}}">
            <td class="knoten-number">
                <kbd><a href="/GET/{{network}}/knoten/{{number}}">
                    {{number}}
                </a></kbd>
            </td>
            <td class="knoten-mac">
                <kbd>{{mac}}</kbd>
            </td>
            <td class="knoten-created_at">
                <kbd>{{created_at}}</kbd>
            </td>
            <td class="knoten-last_seen">
                <kbd>{{last_seen}}</kbd>
            </td>
        </tr>
        {{/knoten}}

    </table>

</section>

<footer>
    <kbd><a href="https://github.com/weimarnetz/registrator">{{name}}.js</a> running on dev.</kbd>
</footer>

<script src="//code.jquery.com/jquery-latest.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script src="/static/plates.js"></script>
<script src="/static/echtzeit.js"></script>
<script src='/static/tablesort.min.js'></script>

<!-- Include sort types you need -->
<script src='/static/tablesort.number.js'></script>
<script src='/static/tablesort.date.js'></script>

<script>
    new Tablesort(document.getElementById('knoten-listing'));
</script>
</body>
</html>